<style>
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
} 
#scAdminSave , #scAdminCancel{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: 30%;
    text-align: center;
    border: none;
    margin:3%;
    margin-left: 35%;
    display: block;

}
h1{
    margin: 0 0 2rem 0;
  }
  #scAdminSave{
    background-color: #4499d8;
  }
  #scAdminCancel{
    background-color: #e04644;
  }
  #scAdminSave:hover , #scAdminCancel:hover{
    opacity: 70%;
  }


</style>
<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit My Profile</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="fullname">Fullname</label>
            <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                <div *ngIf="f.fullname.errors.required">Fullname is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email must contains @mail.com</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="phone">Phone</label>
            <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone is required</div>
                <div *ngIf="f.phone.errors.minlength" >minimum length is 8</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
            </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.pattern">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" id="scAdminSave">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
            Save
        </button>
        <button routerLink="/users" class="btn btn-primary" id="scAdminCancel">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1" ></span>
            Cancel
        </button>
    </div>
</form>