/* You can add global styles to this file, and also import other style files */


@import "@coreui/coreui/scss/coreui";
@import 'bootstrap/dist/css/bootstrap.min.css';

a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
    will-change: auto;
    @include transition(padding .15s);
  }
  
  .app-container {
    min-height: 50px;
  }

  .stats {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 20% 35% 20% 10%;
    grid-gap: 1rem;
    width: 100%;
    text-align: left;
  }

  .stats-2 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 10% 15% 15% 20% 15% 10%;
    grid-gap: 1rem;
    width: 100%;
    text-align: left;
  }

  // .center-it {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }


  .container-lg {
    margin-top: 2rem;
  }
//request.component.html
#reqBtn1 , #reqBtn2{
  width: 40%;
}
#reqBtn1  , #reqBtn2{
margin-right: 50px;
background-color: #ff0000;
border: none;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
color: white;
}
#reqBtn2{
background-color: #4499d8;
}