<h1 style="margin: 0 1rem 2rem 1rem;">Requests</h1>

<button *ngIf="requests.length != 0" [cModalToggle]="scrollableLongContentModal.id" class="btn btn-sm btn-primary mr-1" cButton size="lg" (click)="setID(school.schoolID, request.requestID)">Offer</button>
<c-accordion *ngFor="let request of requests">
  
    <c-accordion-item style="margin: 1rem;" #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          <div class="stats">
            <h5 style="margin: 0 1rem;"><c-badge color="dark">ID: {{ request.requestID }}</c-badge></h5> 
          <h5 style="margin: 0 1rem"><c-badge color="dark">Name: {{ request.date }}</c-badge></h5> 
          <h5 style="margin: 0 1rem"><c-badge color="dark">Address: {{ request.time }}</c-badge></h5> 
          <h5 style="margin: 0 1rem"><c-badge color="dark">City: {{ request.description }}</c-badge></h5> 
          <h5 style="margin: 0 1rem">
            <c-badge *ngIf="request.offers.length == 0" color="danger" shape="rounded-pill">{{ request.offers.length }}</c-badge>
            <c-badge *ngIf="request.offers.length > 0" color="success" shape="rounded-pill">{{ request.offers.length }}</c-badge>
          </h5> 
          </div>
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body" style="padding: 0;">
          <table
          [hover]="false"
          [responsive]="true"
          [striped]="true"
          cAlign="middle"
          cTable
          class="mb-0 border"
        >
                    <thead cTableColor="light">
                      <tr>
                        <th scope="col" style="width: 10%">Request ID</th>
                        <th scope="col" style="width: 15%">Date</th>
                        <th scope="col" style="width: 15%">Time</th>
                        <th scope="col" style="width: 20%">Student Level</th>
                        <th scope="col" style="width: 10%">#</th>
                        <th scope="col" style="width: 15%">Status</th>
                        <th scope="col" style="width: 15%">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <td colSpan="7" *ngIf="request.offers.length == 0">
                          <h5 style="margin: 0.5rem; text-align: center;" >There is no requests for this school!</h5>
                        </td>
                    <tr *ngFor="let offer of request.offers">
                      <ng-container>
                        <!-- <td>{{request.requestID}}</td>
                        <td>{{request.date}}</td>
                        <td>{{request.time}}</td>
                        <td>{{request.studentLevel}}</td>
                        <td>{{request.numberOfStudents}}</td>
                        <td>{{request.status}}</td> -->
                        <td><button [cModalToggle]="scrollableLongContentModal.id" class="btn btn-sm btn-primary mr-1" cButton (click)="setID(school.schoolID, request.requestID)">Offer</button></td>
                  </ng-container>
                  </tr>
                </tbody>
                </table>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>

  <c-modal #scrollableLongContentModal id="scrollableLongContentModal" alignment="center" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
  </c-modal-header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <ng-container >
      
 

        <div class="form-group col">
          <label for="description">Last Name</label>
          <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Last Name is required</div>
          </div>
      </div>
      <div class="form-group col">
        <label for="date">Last Name</label>
        <input type="text" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
            <div *ngIf="f.date.errors.required">Last Name is required</div>
        </div>
      </div>
      <div class="form-group col">
        <label for="time">Last Name</label>
        <input type="text" formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" />
        <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
            <div *ngIf="f.time.errors.required">Last Name is required</div>
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>

    </ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" type="submit">Save changes</button>
  </c-modal-footer>
</form>
</c-modal>

