<style>
    button.btn.btn-primary{
        background-color: #4499d8;
        border: none;
        font-family: -webkit-body;
        font-weight: bold;
    }
    button.btn.btn-primary:hover{
        background-color: #e04644;
    }
    h5{
        color: #e04644;
        font-family: monospace;
    }
    h1{
        font-family: 'Times New Roman', Times, serif;
    }
    
</style>
<div class="p-4">
    <div class="container">
        <h1>Hi {{user.fullname}}!</h1>
        <h5>Welcome To Educatry System</h5>
        <p><button cButton (click)="logout()">Log out</button></p>
    </div>
</div>