<style>
    button.btn.btn-primary{
        background-color: #4499d8;
        border: none;
        font-family: -webkit-body;
        font-weight: bold;
    }
    button.btn.btn-primary:hover{
        background-color: #e04644;
    }
    h5{
        color: #e04644;
        /* font-family: monospace; */
    }
    h1{
        /* font-family: 'Times New Roman', Times, serif; */
    }
    #loginBtn{
        width:20%;
        background-color: #e04644;
        border: none;
        font-weight: bold;
        margin-top: 5%
  }
  #loginBtn:hover{
    background-color:#4499d8 ;
  }
    
</style>
<div class="p-4">
    <div class="container">
        <h1>Hi, {{user.fullname}}!</h1>
        <h5>Welcome To Educatry System</h5>
    
        <h3 *ngIf="isAdmin">Position: {{user.position}}!</h3>
        <h3 *ngIf="isAdmin">School: {{school.name}}!</h3>

        <p><button cButton (click)="logout()" color="primary" style="color: white;">Log out</button></p>       
    </div>
</div>